@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Raleway&display=swap");

:root {

  /*Paleta de Colores*/

  /* Color primario */
  --c-first-main: #97938a;

  /* Color Secundario */
  --c-second-main: #1340bd;

  /* Color terciario */
  --c-third-main: #393A62;


  --c-accent-lighter: #f8f8f8;
  --c-accent-darker: #080d19;

  /* Color Texto */
  --c-text-light: var(--c-accent-lighter);
  --c-text-dark: var(--c-accent-darker);

  /* Color de fondo */
  --c-background-light: var(--c-accent-lighter);

  /* Tipografía */

  --f-first: "Oswald", sans-serif;
  --f-second: "Raleway", sans-serif;

  /* Primario  */
  --fp-xxlarge: 2.25rem;
  --fp-xlarge: 1.75rem;
  --fp-large: 1.5rem;
  --fp-base: 1.125rem;
  --fp-small: 1rem;
  --fp-smaller: 0.875rem;

  /* Secundario */
  --fs-bigger: 1.625rem;
  --fs-big: 1.5rem;
  --fs-medium: 1.25rem;
  --fs-regular: 1.125rem;
  --fs-normal: 1rem;
  --fs-small: 0.875rem;

  /* Tamaño Fuente */
  --fw-regular: 400;
  --fw-semi-bold: 600;
  --fw-bold: 700;


  /* Tema */

  /* Borde */
  --border-radius-sm: 0.188rem;
  --border-radius-md: 0.313rem;
  --border-radius-lg: 0.625rem;
  --border-radius-full: 999px;

  /* Caja */
  --box-shadow-xs: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  --box-shadow-sm: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --box-shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --box-shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);

	/* Escala */
  --scale-xs: scale(0.98);

  /* Transición */
  --duration-transition-base: 300ms ease-in-out;

  /* Altura Linea */
  --line-height-heading: 1.3;
  --line-height-body: 1.6;

  /* Capas */
  --z-layer-back: -10;
  --z-layer-base: 1;
  --z-layer-tooltip: 10;
  --z-layer-fixed: 100;
  --z-layer-modal: 1000;

  /* Diseño */

  /* Separador */
  --gutter: 1rem;

  --max-width: 1240px; 
}